.body {
        max-width: 600px;
        width: 100%;
        margin-top: 24px;
}

.div {
    padding-bottom: 8px;
    align-items: center;
}



.button {
    background-color: #12CBC4;
    padding: 8px;
    border: 1px solid #000;
}
